<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RiceManagementApp.Module.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=localhost\sql2012;user id=sa;password=P@ssw0rd;initial catalog=RiceManagementDB;Persist Security Info=true" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <RiceManagementApp.Module.My.MySettings>
            <setting name="RiceManagementApp_Module_RiceService_RiceService"
                serializeAs="String">
                <value>http://rsms.me/webservices/riceservice.asmx</value>
            </setting>
        </RiceManagementApp.Module.My.MySettings>
    </applicationSettings>
</configuration>